<h1>Order Created / 注文が作成されました！</h1>
<p>Order <%= @order.uuid %> for <%= @order.product_name %> has been created. Please collect your order at the Vonage booth!</p>
<p>注文番号 <%= @order.uuid %> の <%= @order.product_name %> を作成しました。Vonage ブースでノベルティーを受け取ってください！</p>
<img src="/img/Voyagers_Ruby.png" alt="Vonage Voyagers: Ruby">
