<h1>Order Created</h1>
<p>Order <%= @order.uuid %> for <%= @order.product_name %> has been created. Please collect your order at the Vonage booth!</p>
<img src="/img/Voyagers_Ruby.png" alt="Vonage Voyagers: Ruby">
