<h1>Vonage Verify API Demo / デモ</h1>
<img src="/img/Voyagers_Meet-the-Voyagers.png" alt="Vonage Voyagers: Meet the Voyagers">
<p>This is a demo showing a basic implementation of the <a href="https://developer.vonage.com/en/verify/overview" target="_blank">Vonage Verfy API</a> which logs you into the application using 2FA so that you can order some swag from the Vonage booth.</p>
<p>このデモは、<a href="https://developer.vonage.com/en/verify/overview" target="_blank">Vonage Verfy API</a>  の基本的な実装を紹介するものです。2FA （二要素認証）を使用してアプリケーションにログインし、Vonage ブースでノベルティーを注文できます。</p>
<%= link_to 'Start the demo / デモを開始', new_order_path, class: 'button' %>
