<h1>Vonage Verify API Demo</h1>
<img src="/img/Voyagers_Meet-the-Voyagers.png" alt="Vonage Voyagers: Meet the Voyagers">
<p>This is a demo showing a basic implementation of the <a href="https://developer.vonage.com/en/verify/overview" target="_blank">Vonage Verfiy API</a> which logs you into the application using 2FA so that you can order some swag from the Vonage booth.</p>
<%= link_to 'Start the demo', new_order_path, class: 'button' %>
